<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    {# block title で、ページごとにタイトルを変えられるようにします #}
    <title>{% block title %}{% endblock %} - Polaris_NA_33 -</title>

    {# comment
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    #}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/latex_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    {# ページ個別の CSS/JS を追加するための穴 #}
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header>
      <table class="layout-table">
        <tr>
          <td rowspan="2" class="td-left">
            <a href="{{ url_for('portal.index')}}">Polaris-NA-33</a>
          </td>
          <td></td>
          <td class="td-right">
            {% if session.get('user_id') %}
            {{ session.get('user_name') }} /
            <a href="{{ url_for('facemans.signout_get') }}">Sign-out</a>
            {% else %}
            <a href="{{ url_for('facemans.signin_get') }}">Sign-in</a> /
            <a href="{{ url_for('facemans.signup_get') }}">Register</a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td colspan="2" class="td-left" >
            <a href="{{ url_for('portal.index') }}">Home</a> |
            <a href="{{ url_for('tolopica.tolopica_list')}}">Tolopica_List</a> |
            <a href="/ranference/">New_Ranference</a> |
          </td>
        </tr>
      </table>
      <hr />
    </header>

    <main>
      <h1>{% block h1 %}Polaris_NA_33 掲示板{% endblock %}</h1>


      {# render error messages #}
      {% if error %}
      <div class="error-box" style="color: red; border: 1px solid red; padding: 10px;">
        {% if error is string %} {# 文字列ならそのまま表示 #}
        <p>{{ error }}</p>
        {% else %}   {# 配列（リスト）なら箇条書きで表示 #}
        <ul style="margin: 0;">
          {% for msg in error %}<li>{{ msg }}</li>{% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endif %}
      
      
      {# render flash(...) messages #}
      {% for message in get_flashed_messages() %}
      <div class="flash-message" style="padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; background: #f9f9f9;">
        {{ message }}
      </div>
      {% endfor %}
      
      
      {# template's body #}
      {% block content %}{% endblock %}
    </main>

    <footer>
      <hr>
      <p>&copy; 2026 Polaris_NA_33 Project </p>
    </footer>
  </body>
</html>
