<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Polaris_NA_33</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {#
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> ;; JS
    <img src="{{ url_for('static', filename='images/logo.png') }}"> ;; png
    #}
  </head>
  <body>
    <h1>Polaris_NA_33 掲示板</h1>

    
    
  </body>
</html>

