{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}

{% block content %}

  
<ul style="list-style: none; padding: 0;">
  
</ul>

{#
Endpoint: static, URL: /static/<path:filename>
Endpoint: portal.index, URL: /
Endpoint: facemans.signup_get, URL: /signup
Endpoint: facemans.signup_post, URL: /signup
Endpoint: facemans.signin_get, URL: /signin
Endpoint: facemans.signin_post, URL: /signin
Endpoint: facemans.signout_get, URL: /signout
Endpoint: tolopica.tolopica_add, URL: /tolopica_add
Endpoint: tolopica.tolopica_list, URL: /tolopica/
Endpoint: tolopica.tolopica_show, URL: /tolopica/<text_id>
Endpoint: ranference.ranference_post, URL: /tolopica/<tolopica_text_id>/post
#}

{% endblock %}
