{% extends 'base.html' %}

{% block title %}
  {% if tml_title %}
    {{ tml_title }}
  {% else %}
    
  {% endif %}
{% endblock %}

{% block content %}
<div class="message-container">

  {% if tml_title %}
  <h2 style="border-bottom: 1px solid #ccc; padding-bottom: 5px; font-size: 1.1rem;">
    {{ tml_title }}
  </h2>
  {% endif %}

  {% if tml_message %}
  <div style="margin: 2rem 0; font-family: 'Consolas', monospace; color: #444;">
    > {{ tml_message }}
  </div>
  {% endif %}

  <hr style="border: 0; border-top: 1px dashed #ccc; margin: 2rem 0;" />
  <p style="font-size: 0.9rem;">
    [ <a href="{{ url_for('portal.index') }}" style="text-decoration: none;">Return to Home</a> ]
  </p>
</div>
{% endblock %}
