{% extends "base.html" %}

{% block title %}新しい板を作成{% endblock %}

{% block content %}
<h2>新しい「板」を作成する</h2>



<form action="{{ url_for('tolopica.tolopica_add_post') }}" method="post">
  <div>
    <label for="text_id">板のID (半角英数字):</label><br>
    <input type="text" name="text_id" id="text_id" value = "{{ form_text_id or '' }}"
           required placeholder="例: science_hub">
  </div>
  <br>
  <div>
    <label for="title">板の名前 (タイトル):</label><br>
    <input type="text" name="title" id="title" value="{{ form_title or '' }}"
           required placeholder="例: 科学技術について語る板">
  </div>
  <br>
  <button type="submit">作成する</button>
</form>

<hr>
<p><a href="{{ url_for('tolopica.tolopica_list') }}">板の一覧に戻る</a></p>

{% endblock %}
