{% extends "base.html" %}

{% block title %}{{ topic.title }}{% endblock %}

{% block h1 %}{{ topic.title }}{% endblock %}

{% block content %}
<p>
  <strong>板のID:</strong> {{ topic.text_id }} | 
  <strong>作成日時:</strong> {{ topic.created_at.strftime('%Y-%m-%d %H:%M') }}
</p>


{# list of ranferences #}
<div id="ranferences-area">
  {% if topic.ranferences %}
  {% for ranference in topic.ranferences %}

    <div class="ranference-post">
      <p>
        <strong>
          {# author がいれば名前、いなければ「名無しさん」 #}
          {{ ranference.author.name if ranference.author else "名無しさん" }}
        </strong> ,
        <small>
          <span class="posted-time" data-utc="{{ ranference.created_at.isoformat() }}">({{ ranference.created_at }})</span>
          ,
          <span> 形式: {{ ranference.coding_type }} </span>
        </small>,
      </p>

      <div class="posted-content" data-coding-type="{{ ranference.coding_type }}">
        {{ ranference.content }}
      </div>
    </div>

  {% endfor %}
  {% else %}
  <p>まだ書き込みがありません。最初の書き込みをどうぞ！</p>
  {% endif %}

</div>

<hr>

{# form to POST #}
<form action="{{ url_for('ranference.ranference_post', tolopica_text_id=topic.text_id) }}" method="POST">
  <div>

    {# Select of coding_type #}
    書き込み形式:
    <select name="coding_type">
      <option value="text">テキスト</option>
      <option value="markdown">MarkDown</option>
    </select>
    
    {# Textarea of Content #}
    <label for="content">書き込み内容:</label><br>
    <textarea name="content" id="content" rows="11" style="width: 100%;">{{ form_content or '' }}</textarea>

    {# Select of Faceman_Type by button #}
    <button type="submit" name="faceman_type" value="faceless">
      <strong>名無し</strong> として投稿
    </button>
    {# shown only when signin status #}
    {% if session.get('user_id') %}
    <button type="submit" name="faceman_type" value="faceman">
      <strong>{{ session.get('user_name') }}</strong> として投稿
    </button>
    {% endif %}

  </div>
</form>

{# back to List #}
<hr>
<p><a href="{{ url_for('tolopica.tolopica_list') }}">板の一覧へ戻る</a></p>

{% endblock %}
